*,
*::before,
*::after {
     box-sizing: border-box;
}

* {
     margin: 0;
}

body {
     line-height: 1.5;
     -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
     display: block;
     max-width: 100%;
}

input,
button,
textarea,
select {
     font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
     overflow-wrap: break-word;
}

#root,
#__next {
     isolation: isolate;
}

:root {
     --magenta: hsl(300, 43%, 22%);
     --dk-grey-magenta: hsl(303, 10%, 53%);
     --lt-grey-magenta: hsl(300, 24%, 96%);
     --pink: hsl(333, 80%, 67%);
     --white: hsl(0, 0%, 100%);
}

body {
     font-family: 'League Spartan', sans-serif;
}

h1,
h2,
h3 {
     font-weight: 700;
}

h1 {
     font-size: 2.5rem;
     line-height: .8;
     color: var(--magenta);
     text-align: center;
     margin-block-end: 2rem;
     font-weight: 700;
}


/* -- WRAPPER ----------------------------------- */

.wrapper {
     width: 90%;
     margin-inline: auto;
     margin-block: 5rem;
}

header {
     color: var(--magenta);
     font-size: 1rem;
}


/* -- RATINGS ----------------------------------- */

.ratingcard {
     background-color: var(--lt-grey-magenta);
     border-radius: .75rem;
     padding: 1rem;
     margin-block: 1rem;
     text-align: center;
     font-weight: 700;
     color: var(--magenta);
}

.ratingcard p {
     margin-block-start: .5rem;
}

.ratingcard .stars {
     display: flex;
     justify-content: space-between;
     width: 60%;
     margin-inline: auto;
}

/* -- REVIEWS ----------------------------------- */

.reviews .card {
     background-color: var(--magenta);
     border-radius: .75rem;
     padding: 2rem;
     color: var(--lt-grey-magenta);
     margin-block: 0 2rem;
}

.card .card-header {
     display: flex;
     justify-content: start;
     gap: .5rem;
     align-items: center;
     margin-block: 0 1.5rem;
}

.reviews .card h2 {
     font-size: 1.125rem;
}

.reviews .card h3 {
     font-size: .9rem;
     color: var(--pink);
}

.reviews .card img {
     border-radius: 9999px;
     width: 3rem;

}


/* -- media queries ----------------------------------- */

@media (min-width: 768px) {

     .wrapper {
          display: grid;
          grid-gap: 1rem;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-template-areas: "header ratings"
               "reviews reviews";

          max-width: 70rem;
     }

     header {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2;
          text-align: left;
          padding: 2rem;
          width: 80%;
          /* outline: 1px dotted red; */
     }

     header h1 {
          font-size: 3rem;
          text-align: left;
          font-weight: 800;
          letter-spacing: -.1rem;
     }




     .ratings {
          grid-row: 1 / 2;
          grid-column: 2 / 3;

     }

     .ratings .ratingcard {
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 60%;

     }

     .ratingcard .stars {
          display: flex;
          align-items: center;
          justify-items: start;
          justify-content: flex-start;
          width: unset;

          margin-inline: unset;


          /* outline: 1px dotted blue; */
     }


     .ratings .ratingcard p {
          justify-content: flex-start;

          /* outline: 1px dotted red; */
     }

     .ratings .ratingcard:nth-child(2) {
          margin-left: 2rem;
     }

     .ratings .ratingcard:nth-child(3) {
          margin-left: 4rem;
     }



     .reviews {
          grid-column-start: 1;
          grid-column-end: 3;

          grid-row-start: 2;
          grid-row-end: 3;


          display: flex;
          gap: 2rem;

          align-items: start;


          /* outline: 1px dotted blue; */
     }

     .reviews .card:nth-child(2) {
          margin-top: 2rem;
     }

     .reviews .card:nth-child(3) {
          margin-top: 4rem;
     }


}

/* @media */