*,
*::before,
*::after {
     box-sizing: border-box;
}

* {
     margin: 0;
}

body {
     line-height: 1.5;
     -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
     display: block;
     max-width: 100%;
}

input,
button,
textarea,
select {
     font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
     overflow-wrap: break-word;
}

#root,
#__next {
     isolation: isolate;
}


:root {
     --magenta: hsl(300, 43%, 22%);
     --dk-grey-agenta: hsl(303, 10%, 53%);
     --lt-grey-agenta: hsl(300, 24%, 96%);
     --pink: hsl(333, 80%, 67%);
     --white: hsl(0, 0%, 100%);
}