*,
*::before,
*::after {
     box-sizing: border-box;
}

* {
     margin: 0;
}

body {
     line-height: 1.5;
     -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
     display: block;
     max-width: 100%;
}

input,
button,
textarea,
select {
     font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
     overflow-wrap: break-word;
}

#root,
#__next {
     isolation: isolate;
}


:root {
     --magenta: hsl(300, 43%, 22%);
     --dk-grey-magenta: hsl(303, 10%, 53%);
     --lt-grey-magenta: hsl(300, 24%, 96%);
     --pink: hsl(333, 80%, 67%);
     --white: hsl(0, 0%, 100%);
}


body {
     font-family: 'League Spartan', sans-serif;
}


h1,
h2,
h3 {
     font-weight: 700;
}

h1 {
     font-size: 2.5rem;
     line-height: .8;
     color: var(--magenta);
     text-align: center;
     margin-block-end: 2rem;
}


.wrapper {
     width: 90%;
     margin-inline: auto;
     margin-block: 5rem;
}

header {
     color: var(--magenta);
     font-size: 1rem;
}

.ratingcard {
     background-color: var(--lt-grey-magenta);
     border-radius: .75rem;
     padding: 1rem;
     margin-block: 1rem;
     text-align: center;
     font-weight: 700;
     color: var(--magenta);

}

.ratingcard p {
     margin-block-start: .5rem;
}

.ratingcard .stars {
     display: flex;
     justify-content: space-between;
     width: 60%;
     margin-inline: auto;
}


.reviews .card {
     background-color: var(--magenta);
     border-radius: .75rem;
     padding: 2rem;
     color: var(--lt-grey-magenta);
     margin-block: 0 2rem;
}

.card .card-header {
     display: flex;
     justify-content: start;
     gap: .5rem;
     align-items: center;
     margin-block: 0 1.5rem;
}

.reviews .card h2 {
     font-size: 1.125rem;
}

.reviews .card h3 {
     font-size: .9rem;
     color: var(--pink);
}

.reviews .card img {
     border-radius: 9999px;
     width: 3rem;

}